{% extends "eZPlatformUIBundle::pjax_admin.html.twig" %}

{% block header_title %}
    <h1 class="edgarezsb-dashboard-title">Dashboard</h1>
{% endblock %}

{% block content %}
    <div class="edgarezsb-dashboard-toolbar">
    </div>
{% endblock %}

{% block title %}Dashboard{% endblock %}
