{% trans_default_domain "sitebuilder_site" %}

<div class="ez-view-edgarezsb-table">
    <div class="ez-block-wrapper ez-font-icon">
        <table class="ez-block-items-table">
            <thead class="ez-block-header">
            <tr>
                <th class="ez-block-head-service">{{ 'sb.site.th.sitename'|trans }}</th>
                <th class="ez-block-head-service"></th>
            </tr>
            </thead>
            <tbody class="ez-block-content">

            {{ render( controller('edgar_ez_site_builder.controller.sb.site:listAction', {} ) ) }}

            </tbody>
        </table>
    </div>
</div>


