.ez-view-edgarezsbdashboardview {
    background: #fff;
    padding: 1em 2em;
}

.ez-view-edgarezsbdashboardview .ez-page-header {
    padding: 0;
}

.ez-view-edgarezsbdashboardview .ez-platform-version {
    margin-top: 0;
}

.ez-view-edgarezsbdashboardview {
    background: #F5F4F2;
}

.ez-view-edgarezsbdashboardview .ez-platform-version {
    font-size: 120%;
}

.ez-view-edgarezsbdashboardview .ez-tabs.ez-edgarezsbdashboard-content {
    border: 0;
}


