.ez-view-edgarezsbsbview {
    background: #fff;
    padding: 1em 2em;
}

.ez-view-edgarezsbsbview .ez-page-header {
    padding: 0;
}

.ez-view-edgarezsbsbview .ez-platform-version {
    margin-top: 0;
}

.ez-view-edgarezsbsbview {
    background: #F5F4F2;
}

.ez-view-edgarezsbsbview .ez-platform-version {
    font-size: 120%;
}

.ez-view-edgarezsbsbview .ez-tabs.ez-edgarezsbsb-content {
    border: 0;
}


.ez-view-edgarezsb-dashboardview .ez-block-header {
    background: #4a4a4a;
    color: #fff;
}

.ez-view-edgarezsb-dashboardview .ez-block-items-table {
    border-collapse: collapse;
    border: 1px solid #d2d2d2;
}

.ez-view-edgarezsb-dashboardview [class*="ez-block-head-"] {
    border: 1px solid #4a4a4a;
    border-right: 1px solid #ddd;
}

.ez-view-edgarezsb-dashboardview [class*="ez-block-head-"] {
    box-sizing: border-box;
    padding: .5em;
}

.ez-view-edgarezsb-dashboardview .ez-block-cell-no-result {
    font-style: italic;
    text-align: center;
}

.ez-view-edgarezsb-dashboardview .ez-block-cell {
    padding: 0.7em 0.5em;
}

