.ez-view-edgarezsbsbview {
    background: #fff;
    padding: 1em 2em;
}

.ez-view-edgarezsbsbview .ez-page-header {
    padding: 0;
}

.ez-view-edgarezsbsbview .ez-platform-version {
    margin-top: 0;
}

.ez-view-edgarezsbsbview {
    background: #F5F4F2;
}

.ez-view-edgarezsbsbview .ez-platform-version {
    font-size: 120%;
}

.ez-view-edgarezsbsbview .ez-tabs.ez-edgarezsbsb-content {
    border: 0;
}


