.ez-contenttype-icon.ez-contenttype-icon-edgar_ez_sb_customer:before {
    content: "user";
}

.ez-contenttype-icon.ez-contenttype-icon-edgar_ez_sb_customersroot:before {
    content: "users";
}

.ez-contenttype-icon.ez-contenttype-icon-edgar_ez_sb_model:before {
    content: "file-empty";
}

.ez-contenttype-icon.ez-contenttype-icon-edgar_ez_sb_modelsroot:before {
    content: "copy";
}