<!DOCTYPE html>
<head>
</head>
<body>

<div id="page" class="">
    <h1>{{ model_name }} layout</h1>
    <div class="container">
        {{ '{% block body %}' }}{{ '{% endblock %}' }}
    </div>
</div>

</body>
</html>
